/*DESKTOP*/
@media only screen and (min-width: 771px){
    
/* Cards have .715 w/h ratio */

:root {
    --card-width: 14rem;
    --card-height: 19.58rem;
    --card-border-radius: 14px;
    --card-padding: 1em;
    --navbar-height: 36pt;
}

body {
    background: #d7d7d7;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

small {
    display: inline;
    font-size: .75em;
}

smaller {
    display: inline;
    font-size: .5em;
}

/* NAVBAR */

#navbar {
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    padding: 4pt 4pt;
    z-index: 2147483647;
}

.nav-end {
    align-self: flex-end;
}

/* SCROLL HINTS */

.lah-scroll-left::before, .lah-scroll-right::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    animation-direction: alternate;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.lah-scroll-left::before {    
    border-right: 16pt solid rgba(0, 0, 0, .5);
    border-top: 24pt solid transparent;
    border-bottom: 24pt solid transparent;
    left: 8pt;
    animation-name: left-arrow-nudge;
}

.lah-scroll-right::after {
    border-left: 16pt solid rgba(0, 0, 0, .5);
    border-top: 24pt solid transparent;
    border-bottom: 24pt solid transparent;
    right: 8pt;
    animation-name: right-arrow-nudge;
}

.mobile-only {
    display: none;
    pointer-events: none;
}

/* GAME AREA */

#game {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: [c-start] 50% [c-center] 50% [c-end];
    grid-template-rows: [r-start] 50% [r-center] 50% [r-end];
}

/* NOTIFICATION BANNER */

#notify-banner {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    left: 0;
    top: 45vh;
    transform: translateY(-50%);
    min-height: 85pt;
    padding: 12pt;
    background: rgba(16, 16, 16, .75);
    cursor: default;
    backdrop-filter: blur(5px);
}

#notify-banner-text {
    font-size: 36pt;
    max-width: 100%;
    word-wrap: break-word;
    color: white;
    text-align: center;
}

/* PLAYER LIST */

#player-list {
    padding: 16pt 24pt;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 50%;
    left: 25%;
    right: 25%;
    min-height: 64pt;
    transform: translate(0, -50%);
    background: white; 
    opacity: 1;
    border: 2px solid black;
    border-radius: 14pt;
    transition: opacity .5s;
}

#player-list.closed {
    pointer-events: none;    
    opacity: 0;
}

.player-list-entry {
    font-size: 14pt;
    background: #fafafa;
    display: grid;
    grid-template-columns: [cl1] auto [cl2] 24pt [cl3];

    border-radius: 4px;
    padding: 10pt 8pt;
    margin: 3pt 0;
}

.player-list-entry .player-name {
    grid-column: cl1 / cl2;
}

.player-list-entry .player-points {
    grid-column: cl2 / cl3;
    text-align: center;
}

/* HAND AREA */

#hand-area {
    grid-row-start: r-center;
    grid-row-end: r-end;
    grid-column-start: 1;
    grid-column-end: span c-end;
    display: flex;
    position: relative;
    align-items: flex-end;
}

#game.lah-stage-judging #hand-area {
    display: none;
}

#hand-cards-area {
    display: flex;
    flex-direction: row;
}


#hand-cards-container {
    display: flex;
    flex-direction: row;
    padding: 32pt 12pt 12pt 12pt;
}

*:not(.disabled) card[white].user:hover, #hand-area:not(.disabled) card[white]:hover {
    box-shadow: 0 0 7pt 3pt rgba(0, 0, 0, .55);
}

*:not(.disabled) card[white].user:active:not(:focus-within), 
#hand-area:not(.disabled) card[white]:active:not(:focus-within) {
    box-shadow: 0 0 7pt 3pt rgba(0, 0, 0, .55);
    transform: translate(0, 1.75pt);
}

/* STATUS AREA */

#status-area {
    position: absolute;
    color: black;
    left: 16pt;
    top: 10pt;
    font-size: 20pt;
    line-height: 1.35em;
    z-index: 2147483647;
}

/* SCORE AREA */
#score-area {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    width: 150pt;
    height: 48pt;
}

#score-area > * {
}

#score-text {
    width: 48pt;
    margin-left: 24pt;
    text-align: right;
    transform: translateY(-2pt);
}

/* PLAY AREA */

#play-area {
    grid-row-start: r-center;
    grid-row-end: r-end;
    grid-column-start: c-start;
    grid-column-end: c-end;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#play-cards-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

#game.lah-stage-judging.lah-judge #play-cards-area .card-group * {
    pointer-events: none;
}

.lah-stage-round-end #play-cards-scroll-area, .lah-stage-round-end #play-cards-area {
    overflow: visible;
}

/* JUDGE CONTROLS AREA */

#judge-controls-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(0, -20pt);
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#game.lah-stage-judging.lah-judge #judge-controls-area {
    display: flex;
}

/* BLACK CARD AREA */

#black-card-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30pt 20pt;
    grid-row-start: r-start;
    grid-row-end: r-center;
    grid-column-start: c-start;
    grid-column-end: c-end;
}

.lah-stage-playing.lah-judge #black-card-area {
    grid-row: r-start / r-end;
    grid-column: c-start / c-center;
    justify-content: flex-end;
    align-items: center;
}

#game.lah-stage-judging #black-card-area {
    grid-row: r-start / r-center;
    grid-column: c-start / c-end;
    justify-content: center;
}

/* JUDGE STATUS & MESSAGE AREAS */

#judge-message-area {
    display: none;
    grid-row: r-start / r-center;
    grid-column: c-start / c-end;
    flex-direction: row;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(calc(var(--card-height) * -0.5 - 28pt));
    font-size: 28pt;
}

#judge-message-body {
    text-align: center;
}

#judge-status-card-area {
    display: none;
    flex-direction: row;
    grid-row: r-start / r-end;
    grid-column: c-center / c-end;
    justify-content: flex-start;
    align-items: center;
    color: #888;
    pointer-events: none;
}

#game.lah-stage-playing.lah-judge #judge-status-card-area,
#game.lah-stage-playing.lah-judge #judge-message-area {
    display: flex;
}

#judge-status-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    border: 4px dashed #888;
    box-sizing: border-box;
    margin-left: 36pt;
}

#judge-status-card-text {
    font-size: 64pt;
    font-weight: 600;
    text-align: center;
}

/* CARD STYLES */

card {
    display: inline-block;
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    line-height: 1.35;
    margin: .3rem .3rem;
    cursor: default;
    word-wrap: break-word;
    overflow-wrap: break-word;
    transition: box-shadow 0.3s;
    user-select: none;
    box-sizing: border-box !important;
    min-width: var(--card-width) !important;
    max-width: var(--card-width) !important;
    max-height: var(--card-height) !important;
    min-height: var(--card-height) !important;
    font-size: 14.5pt;
}

card.placeholder {
    border-style: dashed;
    border-width: 2px;
    background: transparent;
    display: flex;
    flex-direction: row;
}

card.placeholder::after {
    content: "?";
    font-size: 300%;
    display: block;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    color: #555;
}

card .pick {
    position: absolute;
    font-size: 0.75em;
    right: 1.45rem;
    bottom: 1.5rem;
}

card .pick::before {
    content: "PICK ";
}

card .pick .num {
    color: black;
    display: inline-block;
    text-align: center;
    line-height: .9em;
    font-weight: 900;
    font-size: 1.2em;
    background: white;
    border: 2px solid white;
    border-radius: 100%;
    padding: 1px 1px 1px 0px;
    min-width: .9em;
    height: .9em;
    white-space: nowrap;
    box-sizing: initial !important;
}

card .logo {
    position: absolute;
    left: 1.5rem;
    bottom: 1.75rem;
    font-size: 42%;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

card .logo::before {
    content: "";
    background-image: url("../img/lah-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    image-rendering: optimizeQuality;
    transform: translate(-2px, 8px);
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}

card .logo::after {
    content: "LAN Against Humanity";
}

card .pick+.logo::after {
    content: "LAH";
}

card[black] {
    background-color: black;
    color: white;
}

card[white] {
    background-color: #f6f6f6;
    color: black;
}

card[data-card="blank"] > .blank-card-text-container {
    pointer-events: auto !important;
    position: absolute;    
    top: 10pt;
    left: 10pt;
    right: 10pt;
    bottom: 42pt;
    box-sizing: content-box;
    border-radius: 6pt;
    border: 2px dashed transparent;
    transition: border-color .3s;
}

card[data-card="blank"] > .blank-card-text-container .blank-card-text {
    font-size: inherit !important;
    line-height: inherit !important;
    resize: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 4pt;
    color: #368;
    background: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

card[data-card="blank"] .blank-card-text-container:hover {
    border: 2px dashed #ccc;
}

card[data-card="blank"] .blank-card-text, card[data-card^="custom:"] {
    font-family: "Comic Sans MS", "Helvetica", sans-serif !important;
}

card[data-card="blank"] .blank-card-text::placeholder {
    font-family: "Helvetica", sans-serif;
}

/* CARD GROUPS */

#game.lah-stage-judging.lah-judge #play-cards-area > .card-group {
    transition: margin .3s, transform .3s, background-color .3s !important;
}

#game.lah-stage-judging.lah-judge #play-cards-area > .card-group:hover {
    background: #aaa;
}

#game.lah-stage-judging.lah-judge #play-cards-area > .card-group.judge-selected {
    background: rgb(126, 126, 126);
    margin: 0 8pt;
    transform: translate(0, -3pt);
}

.card-group.judge-selected card:only-child {
    animation-name: tilt;
    animation-duration: .275s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.card-group.judge-selected card:not(:only-child) {
    animation-name: rumble;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.card-group.judge-selected card:nth-child(odd):not(:only-child) {
    animation-direction: alternate-reverse;
}

card[white].winner, .card-group.winner card[white] {
    background: linear-gradient(to bottom, rgb(255, 230, 5), rgb(231, 160, 8));
    color: black;
    border-color: #423b00;
}

card[data-selection]::after {
    content: attr(data-selection);
    transform: translate(-50%, calc(-100% - 8pt));
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    background: black;
    border-radius: 100%;
    padding: 2px 2px;
    font-size: 20pt;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    overflow: visible;
    text-align: center;
    pointer-events: none;
    animation-name: card-selection;
    animation-duration: .25s;
    animation-timing-function: ease-out;
    z-index: 8000;
}

#hand-controls-area {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0;
    left: 50%;
}

.lah-btn {
    outline: none;
    padding: 8pt 25pt;
    background: #eee;
    border: 2px solid black;
    border-width: 2px 2px 7px 2px;
    border-radius: 6pt;
    font-size: 22pt;
    margin: 0 6pt;
}

.lah-btn-small {
    font-size: 16pt;
    padding: 4pt 12pt;
    border-bottom-width: 4px;
    margin: 0 4pt;
}

.lah-btn.lah-dark, .lah-dark .lah-btn {
    background: #333;
    color: #eee;
    border-color: #eee;
}

.lah-btn:not(.disabled):hover {
    border-color: #444;
    color: #444;
    cursor: pointer;
}

.lah-btn.lah-dark:not(.disabled):hover, .lah-dark .lah-btn:not(.disabled):hover {
    border-color: #ccc;
    color: #ccc;
    cursor: pointer;
}

.lah-btn:not(.disabled):active {
    transform: translate(0, 2px);
    /* border-bottom-width: 5px; */
}

.lah-btn.lah-btn-small:not(.disabled):active {
    transform: translate(0, 2px);
    /* border-bottom-width: 3px; */
}

.lah-btn.disabled {
    opacity: .35;
}

.lah-txtbox {
    padding: 6pt;
    outline: none;
    border: 2px solid black;
    border-bottom-width: 4px;
    border-radius: 4pt;
    font-size: 14pt;
    min-width: 16em;
}

.lah-label {
    display: block;
    font-size: 14pt;
    margin: 4pt 1pt;
    color: #444;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(.13, .13, .13, .85);
    z-index: 2147483647;
}

.modal-dialog {
    background: #f6f6f6;  
    position: relative;  
    padding: 20pt 24pt;
    border-radius: 6pt;
    max-width: 60%;
    min-width: 50%;
}

.modal-body {
    width: 100%;
    height: 100%;
    margin-top: var(--modal-nav-height);
}

.modal-nav {
    position: absolute;
    top: 4pt;
    left: 8pt;
    right: 8pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: var(--modal-nav-height);
}

.modal-close {
    width: 20pt;
    height: 20pt;
    font-size: 20pt;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.modal-close:hover {
    color: #666;
}

.modal-close:active {
    transform: translate(0, 1pt);
}

.lah-vlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.lah-vlist > .lah-listitem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 4pt;
    width: 100%;
}

.lah-vlist > .lah-separator {
    margin: 8pt 4pt;
}

.lah-vlist > .lah-listend {
    align-self: flex-end;
    justify-self: flex-end;    
}

.lah-hlist {
    display: flex;
    flex-direction: row;
}

.lah-align-end {
    justify-content: flex-end;
}

.lah-listitem > input[type="text"] {
    flex-grow: 1;
}

@keyframes left-arrow-nudge {
    from {
        transform: translate(0, -50%);
        opacity: .9;
    }
    to {
        transform: translate(-3pt, -50%);
    }
}

@keyframes right-arrow-nudge {
    from {
        transform: translate(0, -50%);
        opacity: .9;
    }
    to {
        transform: translate(3pt, -50%); 
    }
}

@keyframes card-selection {
    from {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, calc(-100% - 8pt));
    }
}
}